

.brands-wrapper {
    border-top: 1px solid #D9FFF5; 
    padding-bottom: 38px;
    background-color: #F8F8F8;
    overflow: hidden;
    box-shadow: inset -30px 0 30px -30px #fff;
}

.brands-header {
    height: 80px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    margin-bottom: 32px;
    padding: 16px;
    background-image: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands {
    display: none;
    padding: 24px;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -16px;
    justify-content: space-between;
}
.brands__hidden {
    max-height: 200px;
    overflow-y: hidden;
    display: none;
    padding: 24px;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -16px;
    justify-content: space-between;
}
.brands__items {
    position: relative;
    width: 224px;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-right: 24px;
    margin-bottom: 16px;
}
.brands__items::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('../img/arrow_forward.png');
    right: 16px;
}
.buttons-show-hide {
    display: none;
    margin-top: 24px;
}
.button-brands_show {
    position: relative;
    margin-left: 57px;
}
.button-brands_hide {
    position: relative;
    display: none;
}
.button-brands_show::before,
.button-brands_show::after,
.button-brands_hide::before,
.button-brands_hide::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 2px solid #41f6d7;
    border-bottom: 2px solid #41f6d7;
    border-radius: 2px;
}
.button-brands_show::before {
    transform: rotate(-45deg);
    bottom: 8px;
    left: -16px;
}
.button-brands_show::after {
    transform: rotate(-45deg);
    top: 5px;
    left: -16px;
}
.button-brands_hide::before {
    transform: rotate(135deg);
    bottom: 6px;
    left: -16px;
}
.button-brands_hide::after {
    transform: rotate(135deg);
    top: 7px;
    left: -16px;
}



@media (min-width: 550px) {
    .brands {
        display: flex;
    }
    .brands__hidden {
        display: flex;
    }
    .brands-wrapper {
        width: 100%;
        overflow: visible;
    }
    .brands-header {
        padding: 15px 24px;
    }
    .buttons-show-hide {
        display: block;
    }
}