@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'styles/brands.css';
@import 'styles/main.css';
@import 'styles/menu.css';



@font-face {
    font-family: 'TT Lakes Regular';
    src: url('fonts/TTLakes-Regular.eot');
    src: url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Regular.woff') format('woff'),
    url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.eot');
    src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('fonts/TTLakes-Bold.eot');
    src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: #000000;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
h1 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}


.body-nav {
    padding: 50px;
    color: #1B1C21;
}
.body-nav > h1 {
    position: relative;
    width: 250px;
    transition-duration: 3s;
}
.body-nav > h1::after,
.body-nav > h1::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #1B1C21;
    transition: opacity 1s, transform 3s 1s;
    opacity: 0;
}
.body-nav > h1::before {
    left: -10px;
}
.body-nav > h1::after {
    right: 4px;
}
.body-nav > h1:hover::before {
    opacity: 1;
    transform: translateX(250px);
}
.body-nav > h1:hover::after {
    opacity: 1;
    transform: translateX(-250px);
}
.h2-styles a {
    cursor: pointer;
}
.h2-styles h2 {
    position: relative;
}
.h2-styles h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 10%;
    height: 4px;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
    opacity: 0;
    background-color: #1B1C21;
}
.h2-styles h2:hover::after {
    opacity: 1;
    transform: translateY(0);
}


.swiper {
    width: 240px;
    margin: 0;
    overflow: visible;
    padding-left: 16px;
}
.swiper-wrapper {
    box-sizing: border-box;
}
.swiper-slide {
    height: 72px;
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding-left: 16px;
    background-color: #fff;
}
.swiper-button-next {
    width: 40px;
    height: 40px;
    background-image: url("img/arrow_forward.png");
    right: 20px;
    top: 36%;
}
.swiper-button-next:after {
    display: none;
}
.swiper-pagination {
    position: static;
    margin-top: 16px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
}
.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}


@media (min-width: 550px) {
    .swiper {
        display: none;
    }
}